*{
    padding: 0px;
    margin: 0px;
}
.common-btn{
    background-color: #1D4ED8;
    padding: 8px 10px;
    border-radius: 12px;
    color: #FFFFFF;
    border: none;

}
section{
    padding: 80px 8%;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 20px 8%;
    height: 50px;
}
nav img{
    height: 30px;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #575757;
}
